**/obj/*
**/bin/*
NotNet.Core.Forms/packages/*/
packages/*/
*.userprefs
*/*/*/bin/
*/*/*/obj/*
*/*/bin/*
*/*/obj/*

Nuget/*.nupkg

Nuget/nugetpush.sh

NotNet.Core.Forms/NotNet.Core.Forms.UnitTest/packages/*

.droidres/

project.lock.json
